.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

.gradle/
build/
target/

mods/
/client/node_modules/
/client/tmp/
/client/browser-bundle.js
/client/browser-bundle.min.js
/client/npm-debug.log
